<!DOCTYPE html>
<html>
<head>
    <title>Simple HTML Page</title>
    <style>
        body {
            background-color: #1e3647; /* Change the background color as needed */
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        p {
            color: #ffffff; /* Text color */
            font-size: 24px; /* Font size */
        }
    </style>
</head>
<body>
    <p>The email is classified as: {{ prediction }}</p>
    <div class="note">
        <p>Created By: Abhas</p>
    </div>
</body>
</html>
